# Mainnet | Preprod | Preview
CARDANO_NETWORK=
# Blockfrost project id
BLOCKFROST_PROJECT_ID=
# btc address for deposit
BTC_WRAP_ADDRESS=
# cardano contract address to burn cbtc
UNWRAP_SCRIPT_ADDRESS=
# fee to wrap btc (in %)
WRAP_FEE_BTC=
# fee to unwrap btc (in %)
UNWRAP_FEE_BTC=
# fee to unwrap cbtc
UNWRAP_FEE_CARDANO=
# CBTC ASSET ID
CBTC_ASSET_ID=
# CoinMarketCap API KEY
CMC_API_KEY=
# CardanoScan API KEY
CS_API_KEY=
# name of the governance asset
GOVERNANCE_ASSET_NAME=
# policy ID of the governance asset
GOVERNANCE_POLICY_ID=
# address of the first governance option
GOVERNANCE_OPTION1_ADDRESS=
# hash of the first governance option
GOVERNANCE_OPTION1_HASH=
# details of the first governance option
GOVERNANCE_OPTION1_DETAILS=
# address of the second governance option
GOVERNANCE_OPTION2_ADDRESS=
# hash of the second governance option
GOVERNANCE_OPTION2_HASH=
# details of the second governance option
GOVERNANCE_OPTION2_DETAILS=
