@use "./variables.scss" as var;


.dashboardContainer{

  width: 865px;
  position: absolute;
  left: calc(((100% + 200px ) - 865px)/2);
  height: 480px;
  top: calc((100vh - 480px)/2);
  display: flex;
  flex-direction: column;
  gap: 24px;
  .sectionChart{
    display: flex;
    justify-content: space-between;
    .chartTvl{
      width: 570px;
      height: 330px;
      border-radius: 24px;
      background-color: var.$background-color-light;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .headerChart{
        height: 100px;
        display: flex;
        justify-content: space-between;
        .valuesGroup{
          display: flex;
          flex-direction: column;
          gap: 12px;
          .titleChart{
            font-weight: 600;
          }
          .tokenChart{
            display: flex;
            align-items: center;
            gap: 5px;
            .value{
              font-size: 20px;
              width: 80px;
              font-weight: var.$font-weight-semibold;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              .loader, .loader:before, .loader:after{
                @include var.loader();
              }
              .loader{
                color: rgba(0, 0, 0, 0.5);
                font-size: 16px;
                animation-delay: -0.16s;
                position: absolute;
                top: -14px;
                &:before, &:after{
                  content: "";
                  position: absolute;
              }
                &:before{
                  left: -15px;
                  animation-delay: -0.32s;
              }
                &:after{
                  left: 15px;
                }
              }
            }
            .tokenTitle{
              font-size: 20px;
              font-weight: var.$font-weight-semibold;
            }
          }
        }
        .btnGroup{
          display: flex;
          flex-direction: column;
          gap: 12px;
          .btnBtc, .btncBtc{
            width: 145px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #0C8CE9;
            border-radius: 8px;
            gap: 5px;
            cursor: pointer;
            transition: 0.25s;
            &:hover{
              background-color: var.$light-color-hover;
            }
            .btnText{
              font-size: 12px;
              font-weight: var.$font-weight-semibold;
            }
            .icon use{
              stroke: var.$primary-color-font;
            }
          }
        }

      }
      .loaderChart{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        .loader{
          @include var.spinner();
          border: 10px solid gray;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          border-left-color: transparent;
        }
      }

    }
    .sectionPrice{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .priceBtc, .pricecBtc{
        width: 270px;
        height: 150px;
        background-color: var.$background-color-light;
        border-radius: 18px;
        padding: 20px;
        .headerPrice{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 15px;
          .token{
            display: flex;
            gap: 5px;
            align-items: center;
            .tokenTitle{
              font-size: 20px;
              font-weight: var.$font-weight-semibold;
            }
          }
          .changeDaily{
            color: var.$info-color-light;
            font-size: 20px;
            font-weight: var.$font-weight-medium;
            &.negative{
              color: var.$error-color;
            }
          }
        }
        .adaPrice{
          font-size: 28px;
          font-weight: var.$font-weight-medium;
          margin-bottom: 8px;
        }
        .usdPrice{
          font-size: 14px;
          font-weight: var.$font-weight-medium;
        }
        .loaderPrice{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding-left: 30px;
          height: 60px;
          position: relative;
          .loader, .loader:before, .loader:after{
            @include var.loader();
          }
          .loader{
            color: rgba(0, 0, 0, 0.5);
            font-size: 60px;
            animation-delay: -0.16s;
            position: absolute;
            top: 10px;
            &:before, &:after{
              content: "";
              position: absolute;
          }
            &:before{
              left: -20px;
              animation-delay: -0.32s;
          }
            &:after{
              left: 20px;
            }
          }
        }
      }
    }
  }

  // SECCION BALANCE

  .sectionBalance{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 24px;
    height: 125px;
    margin-bottom: 24px;
    .balanceGroup{
      display: flex;
      gap: 24px;
      width: 40%;
      min-width: 500px;
      height: 100%;
      .balance{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 220px;
        height: 100%;
        background-color: var.$background-color-light;
        border-radius: 18px;
        padding: 24px;
        gap: 16px;
        .connectBtn{
          padding: 5px;
          width: 160px;
          height: 30px;
          background-color: var.$primary-color-light;
          border-radius: 8px;
          cursor: pointer;
        }
        .balanceTitle{
          font-size: 20px;
          font-weight: var.$font-weight-semibold;
        }
        .balanceValue{
          display: flex;
          align-items: center;
          gap: 5px;
          .text, .value{
            font-size: 18px;
          }
          .value{
            font-weight: var.$font-weight-semibold;
          }
        }
      }
    }
    .mint, .claim{
      width: 60%;
      height: 100%;
      background-color: var.$background-color-light;
      border-radius: 18px;
      padding: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .mintTitle, .claimTitle{
        font-size: 20px;
        font-weight: var.$font-weight-semibold;
        width: 126px;
      }
      .mintBtn, .claimBtn{
        font-size: 12px;
        font-weight: var.$font-weight-semibold;
        width: 135px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background-color: var.$primary-color-light;
        &:hover{
          background-color: var.$light-color-hover;
        }
      }
    }
    @media (min-width: 1000px){
      .claim{
        display: none;
      }
    }
  }

  @media (max-width: 1470px){
    left: 400px;
    
  }
  @media (max-width: 1300px){
    left: calc(((100%) - 225px)/2);
    width: 570px;
    height: auto;
    top: 90px;
    .sectionChart{
      flex-direction: column;
      gap: 24px;
      justify-content: flex-start;
      .sectionPrice{
        flex-direction: row;
        gap: 24px;
      }
    }
    .sectionBalance{
      flex-direction: column;
      height: auto;
      .balanceGroup{
        width: 100%;
        min-width: 220px;
        .balance{
          height: 125px;
        }
      }
      .mint, .claim{
        height: 125px;
        width: 100%;
      }
    }
  }
  @media (max-width: 1000px){
    left: calc(((100%) - 570px)/2);
    width: 90%;
    max-width: 570px;
    .sectionChart{
      .chartTvl{
        width: 100%;
      }
    }
  }
  @media (max-width: 633px){
    left: 5%;
    .sectionChart{
      .sectionPrice{
        flex-direction: column;
        .priceBtc, .pricecBtc{
          width: 100%;
        }
      }
    }
    .sectionBalance{
      .balanceGroup{
        flex-direction: column;
      }
    }
  }
  @media (max-width: 450px){
    .sectionChart{
      .chartTvl{
        height: 420px;
        .headerChart{
          height: 190px;
          flex-direction: column;
          gap: 16px;
        }
      }
    }
  }
  @media (max-width: 350px){
    .sectionBalance{
      .mint{
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
      }
    }
  }

}


:global(body.dark){

  .dashboardContainer{
    .sectionChart{
      .chartTvl{
        background-color: var.$background-color-dark;
        .headerChart{
          .valuesGroup{
            .tokenChart{
              .value{
                .loader{
                  color: rgba(255, 255, 255, 0.5);
                }
              }
            }
          }
          .btnGroup{
            .btnBtc, .btncBtc{
              .icon use{
                stroke: var.$secundary-color-font;
              }
              &:hover{
                background-color: var.$dark-color-hover;
              }
            }
          }
        }
      }
      .sectionPrice{
        .priceBtc, .pricecBtc{
          background-color: var.$background-color-dark;
          .headerPrice{
            .changeDaily{
              color: var.$info-color-dark;
              &.negative{
                color: var.$error-color;
              }
            }
          }
          .loaderPrice{
            .loader{
              color: rgba(255, 255, 255, 0.5);
            }
          }
        }
      }
    }
    .sectionBalance{
      .balanceGroup{
        .balance{
          background-color: var.$background-color-dark;
          .connectBtn{
            background-color: var.$primary-color-dark;
          }
        }
      }
      .mint, .claim{
        background-color: var.$background-color-dark;
        .mintBtn, .claimBtn{
          background-color: var.$primary-color-dark;
          &:hover{
            background-color: var.$dark-color-hover;
          }
        }
      }
    }

  }
}