@use "./variables.scss" as var;

.feedback{
  width: 500px;
  background-color: var.$background-color-light;
  position: absolute;
  left: calc(((100% + 200px ) - 500px)/2);
  border-radius: 15px;
  padding: 20px;
  max-width: 90%;
  top: calc((100vh - 252px)/2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  @media (max-height: 450px){
    top: 100px;
  }
  @media (max-width: 1400px){
    left: calc(((100% + 350px ) - 500px)/2);
  }
  @media (max-width: 1000px){
    left: calc((100% - 500px)/2);
  }
  @media (max-width: 550px){
    left: 5%;
  }
  .item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: var.$primary-color-light;
    border-radius: 10px;
    gap: 16px;
    p{
      font-weight: var.$font-weight-medium;
    }
    &:hover{
      background-color: var.$light-color-disable;
      .icon{
        use{
          fill: var.$primary-color-font;
        } 
      }
    }
    .icon{
      use{
        fill: #323232;
      } 
    }
  }
}

:global(body.dark){

  .feedback{
    background-color: var.$background-color-dark;
    .item{
      background-color: var.$primary-color-dark;
      .icon{
        use{
          fill: #B1B1B1;
        } 
      }
      &:hover{
        background-color: var.$dark-color-disable;
        .icon{
          use{
            fill: var.$secundary-color-font;
          } 
        }
      }

    }
  }

}