@use "./variables.scss" as var;

.governance {
  width: 650px;
  position: absolute;
  left: calc(((100% + 200px) - 650px) / 2);
  border-radius: 15px;
  max-width: 90%;
  top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
  @media (max-height: 450px) {
    top: 100px;
  }
  @media (max-width: 1400px) {
    left: calc(((100% + 350px) - 650px) / 2);
  }
  @media (max-width: 1000px) {
    left: calc((100% - 650px) / 2);
  }

  .text {
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .card {
    background-color: var.$background-color-light;
    width: 100%;
    border-radius: 10px;
    padding: 32px 24px;
    display: grid;
    gap: 1rem;

    h2 {
      font-size: 22px;
      line-height: 20px;
      text-align: center;
    }

    .description {
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      max-width: 22rem;
      margin-left: auto;
      margin-right: auto;
    }

    .walletName {
      font-size: 16px;
    }

    .address {
      display: flex;
      overflow: hidden;
      align-items: center;
      gap: 0.5rem;
      background-color: rgba(0, 0, 0, 0.05);
      padding: 0.75rem 0.75rem;
      border-radius: 14px;

      .addressText {
        white-space: normal;
        overflow: clip;
        font-size: 14px;
      }

      .addressCopyBtn {
        background-color: transparent;
        padding: 0;
        font-size: 14px;
        line-height: 14px;
        margin: 0;
        padding: 0;
      }
    }

    .votes {
      span {
        border: 2px solid #909090;
        min-width: 275px;
        border-radius: 12px;
        padding: 0.25rem 1.25rem;
        font-size: 16px;
      }
    }
  }

  .button {
    @include var.btn-main();
    background-color: var.$background-color-light;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    padding: 0.75rem 1.5rem;
    font-size: 18px;
    line-height: 1.5rem;
    font-weight: 700;
    border-radius: 10px;
    &:hover {
      background-color: var.$light-color-hover;
    }
    .tosidropLogo {
      margin-top: -0.25rem;
    }
  }

  @media (max-width: 550px) {
    left: 5%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.75rem;
    gap: 0.75rem;

    .text {
      font-size: 18px;
    }

    .card {
      padding: 1.5rem 0.75rem;
      gap: 0.5rem;

      h2 {
        font-size: 18px;
      }

      .description {
        font-size: 14px;
      }

      .walletLogo {
        width: 100px;
        height: 26px
      }

      .walletName {
        font-size: 14px;
      }

      .address {
        padding: 0.5rem;

        .addressText {
          font-size: 12px;
        }
      }

      .votes {
        margin-top: 8px;
        span {
          font-size: 14px;
        }
      }
    }

    .button {
      font-size: 0.875rem;
      line-height: 1.25rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      white-space: nowrap;
      gap: 0.125rem;
      .tosidropLogo {
        width: 110px;
        height: 28px;
      }

      svg {
        transform: scale(.9);
      }
    }
  }

  .item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: var.$primary-color-light;
    border-radius: 10px;
    gap: 16px;
    p {
      font-weight: var.$font-weight-medium;
    }
    &:hover {
      background-color: var.$light-color-disable;
      .icon {
        use {
          fill: var.$primary-color-font;
        }
      }
    }
    .icon {
      use {
        fill: #323232;
      }
    }
  }
}

:global(body.dark) {
  .governance {
    .card {
      background-color: var.$background-color-dark;

      .address {
        background-color: rgba(255, 255, 255, 0.1);
      }

      .inputRow {
        input {
          border: 1px solid rgba(255, 255, 255, 0.2);
        }
        button {
          background-color: var.$primary-color-dark;
          &:hover {
            background-color: var.$dark-color-hover;
          }
        }
      }
      .infoRow {
        .icon {
          use {
            fill: white;
          }
        }
      }
    }

    .button {
      background-color: var.$background-color-dark;
      &:hover {
        background-color: var.$dark-color-hover;
      }
    }
    .item {
      background-color: var.$primary-color-dark;
      .icon {
        use {
          fill: #b1b1b1;
        }
      }
      &:hover {
        background-color: var.$dark-color-disable;
        .icon {
          use {
            fill: var.$secundary-color-font;
          }
        }
      }
    }
  }
}
