@use "./variables.scss" as var;

.swapContainer{
  position: relative;
  height: 480px;
  width: 100%;
  top: calc((100vh - 580px)/2);
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;



  @media (max-width: 1300px){
    width: 570px;
    left: 400px;
    height: auto;
  }
  @media (max-width: 1000px){
    left: calc(((100%) - 570px)/2);
    width: 90%;
    max-width: 570px;
  }
  @media (max-width: 633px){
    left: 5%;
  }
  @media (max-width: 450px){
    .dexhunter-container{
        width: 100vw;
    }
    
 
  }
  @media (max-width: 350px){

  }

}

