@mixin btn-header{
  padding: 10px;
  border-radius: 6px;
  height: 40px;
  font-weight: $font-weight-medium;
}
@mixin btn-main{
  width: 100%;
  height: 50px;
  border-radius: 12px;
  font-size: 20px;
}

@mixin spinner{
    border: 3px solid gray;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-left-color: transparent;
    animation: spin 1s linear infinite;

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

@mixin loader{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation:loader 1.5s infinite ease-in-out;

    @keyframes loader{
        0%,
        80%,
        100%{
            box-shadow: 0 10px 0 -5px;
        }
        40% {
            box-shadow: 0 10px 0 0;
        }
    } 
}

@mixin popup{
    position: fixed;
    overflow: auto;
    z-index: 20;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    background-color: rgba(0,0,0,0.1);
    .popUp{
        box-shadow: 0px 0px 10px 0px rgba(125,125,125,0.5);
        -webkit-box-shadow: 0px 0px 10px 0px rgba(125,125,125,0.5);
        -moz-box-shadow: 0px 0px 10px 0px rgba(125,125,125,0.5);
        position: sticky;
        padding: 24px 20px;
        border-radius: 10px;
    }
}

    $primary-color-light: #B9DDFF;
    $secondary-color-light: #F9FFFF;
    $background-color-light: #F1F6FF;
    $light-color: #DDDDDD;

    $primary-color-dark: #1F509A;
    $secondary-color-dark: #1D1D1D;
    $background-color-dark: #141414;
    $dark-color: #000000;
    $dark-color-hover: #1F509A99;
    $light-color-hover: #9BD5ED;
    $dark-color-disable: #1F509A44;
    $light-color-disable: #DDDDDD;
    $dark-tooltip: #36435A;

    $primary-color-font: #121212;
    $secundary-color-font: #FFFFFF;
    $primary-color-input: #757575;
    $secundary-color-input: #D4D4D4;

    $warning-color-dark: #F7931A;
    $warning-color-light: #EB5B3D;
    $error-color: #DD524C;

    $info-color-dark: #7BEF8E;
    $info-color-light: #30B837;


    $font-weight-regular: 400;
    $font-weight-medium: 500;
    $font-weight-semibold: 600;
    $font-weight-bold: 700;
    $font-weight-extrabold: 800;


